body {
    background-color: #802626;
    ;
}

.navbar {
    background-color: rgb(128, 38, 38);
    height: 150px;
}

.navbar {
    background-color: rgb(128, 38, 38);
    height: 150px;
}

.nav-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-link.active {
    border-bottom: 3px solid white;
    color: #fff !important;
}

.nav-item:hover {
    transform: translateY(-3px);
}

.logo-hover {
    transition: transform 0.3s ease;
}

.logo-hover:hover {
    transform: translateY(-2px);
}

.navbar-brand {
    transition: transform 0.3s ease;
}

.navbar-brand:hover {
    transform: translateY(-2px);
}

.fondo-contenedor1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/pastel-fresa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.Contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 600px;
}

.card-body {
    background-color: rgb(126, 18, 18);
}

.card-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.texto-contenedor2 {
    margin-right: 480px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(126, 18, 18);
}
.body-login{
    background-image: url(img/fondo-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.col{
    background-color: rgb(228, 226, 226);
}

.footer {
    background-color: rgb(126, 18, 18)
}

.textoespecialidad {
    color: rgb(126, 18, 18);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form{
    background-color: rgb(159, 35, 35);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 40%;
    width: 550px;
    margin-left: 500px !important;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-control:focus{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-color: rgb(126, 18, 18);
}

/* INICIO DEL CSS DE ERIC */
.btn:hover {
    background-color: black;
    color: wheat;
    transition: 0.5s;
    font-size: 20px;
}

/* FIN DEL CSS DE ERIC */