body{
}
#titulo{
    text-align: center;
    color: black;

}
.cafes{
    border-radius: 20px}

#cafe-Titulo{
    color: white;
}
#comida-Titulo{
    color: white;
}
.comidas{
    border-radius: 20px;
}
